@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Momentum Sports</h1>
    <br />
    <h3>
        Here at Momentum Sports, our aim is to help you with your athletics.
    </h3>
</div>
<br />
<div class="text-left homepage-1">
    <p>
        Have a look at the links below to see how we can help you!
    </p>
    <p>
        <a href="@Url.Action("Index","AboutUs")">About Us</a>
        : Find out more about Momentum Sports and who we are
    </p>
</div>
