@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Momentum Sports</h1>
</div>
<br />
<div class="text-left">
    <p>
        Here at Momentum Sports, our aim is to help you with your athletics.
    </p>
</div>
